@charset "utf-8";

// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
.sp,.none_pc {
  display: none !important;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a[href^=tel] {
  pointer-events: none;
  text-decoration: none;
  opacity: 1 !important;
  cursor: default !important;
}

a {
  transition: opacity 0.3s ease-out;
  &:hover {
    opacity: 0.7;
  }
}

/*======= COMMON =========*/

.ttlSt{
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3F3B3A;
  margin-bottom: 55px;
  padding-top: 90px;
  span{
    font-size: rem(34);
    line-height: 61px;
    color: #3E3A39;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    font-weight: 500;
    &::before{
      position: absolute;
      left:0;
      right:0;
      bottom:0;
      margin: 0 auto;
      width: 100px;
      height:5px;
      background-color: $c_red;
      content: " ";
    }
  }
}
