
  .footer_contents{
    background-color: #008fd6;
    color: #fff;
    text-align: center;
    padding: vw(50) vw(40) vw(30) vw(40);
    p{
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: 0.1em;
    }
  }

  .fx_foot_linkB{
    width: 90%;
    margin: vw(25) auto;
      -webkit-align-items: stretch; /*縦方向（Safari用）*/
      align-items: stretch; /* 縦方向*/
      -webkit-justify-content: space-between; /*横方向（Safari用）*/
      justify-content: space-between; /*横方向*/
    >.flex_block_child{
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center; /*縦方向（Safari用）*/
      align-items: center; /* 縦方向*/
      -webkit-justify-content: center; /*横方向（Safari用）*/
      justify-content: center; /*横方向*/
      img{
        display: block;
        width: 100%;
      }
      &.blockA{
        width: 17.85rem;
      }
      &.blockB{
        width : -webkit-calc(100% - 17.85rem) ;
        width : calc(100% - 17.85rem) ;	
        padding-left: 3rem;
      }
    }
  }

  .tbb_foot{
    width: 100%;
    margin: vw(25) auto;
    border: 1px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    .cell_block{
      text-align: center;
      vertical-align: middle;
      line-height: 1.2;
      font-size: 1.5rem;
      padding-bottom: vw(10);
      strong{
        font-size: 2.8rem;
        font-weight: normal;
        margin-left: 0.5em;
        margin-right: 0.5em;
        vertical-align: sub;
      }
    }
  }

  .fx_copy{
  -webkit-align-items: center; /*縦方向（Safari用）*/
  align-items: center; /* 縦方向*/
  -webkit-justify-content: center; /*横方向（Safari用）*/
  justify-content: center; /*横方向*/
    margin-top: 40px;
    
    >.flex_block_child{
      width: fit-content;
      &.blockA{
        img{
          display: block;
          width: 20.1rem;
        }
      }
      &.blockB{
        padding-left: 3rem;
        font-size: 1rem;
        line-height: 1.2;
      }
    }
  }



  @-webkit-keyframes hand {
    0% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
    1% {
      -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
      transform: translate(1.5px, 1.5px) rotate(1.5deg);
    }
    2% {
      -webkit-transform: translate(0.5px, -0.5px) rotate(0.5deg);
      transform: translate(0.5px, -0.5px) rotate(0.5deg);
    }
    3% {
      -webkit-transform: translate(1.5px, 2.5px) rotate(1.5deg);
      transform: translate(1.5px, 2.5px) rotate(1.5deg);
    }
    4% {
      -webkit-transform: translate(0.5px, 2.5px) rotate(0.5deg);
      transform: translate(0.5px, 2.5px) rotate(0.5deg);
    }
    5% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
    60% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
    61% {
      -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
      transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    }
    62% {
      -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
      transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    }
    63% {
      -webkit-transform: translate(-1.5px, 2.5px) rotate(-0.5deg);
      transform: translate(-1.5px, 2.5px) rotate(-0.5deg);
    }
    64% {
      -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
      transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }
    65% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
    100% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
  }

  @keyframes hand {
    0% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
    1% {
      -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
      transform: translate(1.5px, 1.5px) rotate(1.5deg);
    }
    2% {
      -webkit-transform: translate(0.5px, -0.5px) rotate(0.5deg);
      transform: translate(0.5px, -0.5px) rotate(0.5deg);
    }
    3% {
      -webkit-transform: translate(1.5px, 2.5px) rotate(1.5deg);
      transform: translate(1.5px, 2.5px) rotate(1.5deg);
    }
    4% {
      -webkit-transform: translate(0.5px, 2.5px) rotate(0.5deg);
      transform: translate(0.5px, 2.5px) rotate(0.5deg);
    }
    5% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
    60% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
    61% {
      -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
      transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    }
    62% {
      -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
      transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    }
    63% {
      -webkit-transform: translate(-1.5px, 2.5px) rotate(-0.5deg);
      transform: translate(-1.5px, 2.5px) rotate(-0.5deg);
    }
    64% {
      -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
      transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }
    65% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
    100% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0);
    }
  }